.login-icon img{
    border-radius: 100px;
    width: 100px;
    height:100px;
}

#formSubmitBtn:hover,#registersubmit:hover {
    cursor: pointer;
}
#formSubmitBtn:active,#registersubmit:active{
    background-color: rgba(24, 166, 235, 0.67);
}
.below-links{
    margin-top: 20px;

}


.social-login a{
    font-size: 50px;
}

#qqlogin:active,#webologin:active,#wechatlogin:active{
    font-size: 45px;
}





/*.footer{*/
    /*position:absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
    /*height:10px;*/
/*}*/


/*#slide1{*/
    /*width:auto;*/
/*}*/